<!DOCTYPE html>

<html>
    <head>
        <title>Delete Item</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <table border="1px" width="1250px">
            <tr>
                <td><a href='/' style="text-decoration: none;">Home</a></td>
                <td><a href='/addItem/' style="text-decoration: none;">Add Item</a></td>
                <td><a href='/updateItem/' style="text-decoration: none;">Update Item</a></td>
                <td><a href='/deleteItem/' style="text-decoration: none;">Delete Item</a></td>
                <td><a href='/deleteCust/' style="text-decoration: none;">Delete Customer</a></td>
                <td><a href='/deleteOrder/' style="text-decoration: none;">Delete Order</a></td>
                <td><a href='/viewOrder/' style="text-decoration: none;">View Order</a></td>
                <td><a href='/viewBill/' style="text-decoration: none;">View Bill</a></td>
            </tr>
          </table>
        <h1>Delete item from menu</h1>
        <table border="1px" width="1250px">
            <tr>
                <th>Item ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Picture</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{"$%.2f"|format(row[2])}}</td>
                <td><img src="{{row[3]}}" alt="{{row[1]}}"></td>
            </tr>
            {% endfor %}
        </table>
        <form action="{{ url_for('deleteItem') }}" method="POST">
            <p>
                Item ID:
                <input type="text" name="itemID">
            </p>
            <p><input type="submit" value="Delete item!"></p>
        </form>
    </body>

</html>