<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <table border="1px" width="1250px">
            <tr>
              <td><a href='/' style="text-decoration: none;">Home</a></td>
              <td><a href='/register/' style="text-decoration: none;">Register</a></td>
              <td><a href='/order/' style="text-decoration: none;">Order</a></td>
              <td><a href='/viewBillcust/' style="text-decoration: none;">Bill</a></td>
              <td><a href='/staff/' style="text-decoration: none;">Staff</a></td>
            </tr>
        </table>
        <h1>Welcome to Anton Wanton Noodle Shop!</h1>
    </body>

</html>